

* {
    box-sizing: border-box;
}

body {
    background-color: crimson;
    font-family: 'Courier New', Courier, monospace;
display: flex;
flex-wrap: flex;
align-items: center;
justify-content: center;
text-align: center;
height: 100vh;
overflow: hidden;
margin: 0;
}
.btn {
    background-color: white;
    border-radius: 5px;
    border: none;
    color:crimson;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
  }
  .btn:hover {
    opacity: 0.8;
    background-color: #fff;
    color:crimson;
  }
  .btn:focus {
      outline: none;
  }